@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
	--font: $404040;
	--links: #3a76ee;
	--nunito: 'Nunito', san-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--nunito);
	font-size: 20px;
	/* border-radius: 0.5rem; */
}

a {
	color: var(--font) !important;
}

.bg-grey {
	background-color: wheat;
}
