@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
	--font: $404040;
	--links: #3a76ee;
	--nunito: 'Nunito', san-serif;
	--lightgrey: #a6a6a6;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--nunito);
	font-size: 18px;
}

body {
	overflow-y: scroll;
}

a {
	color: var(--font) !important;
}

.txt-small {
	font-size: 14px;
	color: var(--lightgrey);
}

.round {
	border-radius: 0.4rem !important;
}
