@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
	--font: #404040;
	--links: #3a76ee;
	--nunito: 'Nunito', san-serif;
	--lightgrey: #a6a6a6;
	--site-primary: #00b0f0;
	--site-success: #42ba96;
	--site-warning: #ffc107;
	--site-danger: #df4759;
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: var(--nunito);
	font-size: 18px;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	color: var(--font) !important;
}

.site-success {
	color: var(--site-success);
}
.site-warning {
	color: var(--site-warning);
}

.site-primary {
	color: var(--site-primary) !important;
}

.site-danger {
	color: var(--site-danger);
}

.site-menu {
	padding: 0;
}

.site-admin-menu {
	color: black;
	border-bottom: 1px solid lightgrey !important;
	padding: 0 1rem 2.5rem 1rem !important;
}

.site-admin-menu:focus {
	color: #1f45fc !important;
}

.site-menu:focus {
	color: var(--site-primary) !important;
}

.admin-menuItem {
	background: white !important;
}
.admin-menuItem:focus {
	border-right: white !important;
}

.site-bg-primary {
	background-color: var(--site-primary) !important;
	filter: brightness(115%);
	color: black;
}

.bg-grey {
	background-color: #fffafa;
}

.btn-xlg {
	height: 3.5em !important;
	border-radius: 0.3rem !important;
	font-size: 16px !important;
	border: none !important;
	padding: 1em !important;
	min-width: 100% !important;
	background-color: var(--site-primary) !important;
	color: white !important;
}

.btn-xlg:focus {
	outline: none;
	border: none;
}

.site-btn-sm {
	background: var(--site-primary) !important;
	border: none;
	padding: 0 1rem !important;
	color: white !important;
	border-radius: 0.3rem !important;
	height: 2rem !important;
}

.site-btn-danger {
	height: 3.5em;
	border: 1px solid red;
	border-radius: 0.3rem;
	font-size: 16px;
	padding: 1em;
	min-width: 100% !important;
	background-color: white;
	color: red;
}

.tags {
	padding: 0.3em 0.5em !important;
	border-radius: 0.5em !important;
	font-size: 16px !important;
}

.tag-approved {
	display: flex;
	justify-content: center;
	padding: 0.3em 0.5em !important;
	font-size: 14px !important;
	min-width: 1em !important;
	border-radius: 0.5em !important;
	background: #adf802 !important;
	/* color: var(--site-success) !important; */
}

.tag-queried {
	display: flex;
	justify-content: center;
	padding: 0.3em 0.5em !important;
	font-size: 14px !important;
	min-width: 2em !important;
	border-radius: 0.5em !important;
	background: var(--site-warning) !important;
	/* color: var(--site-warning) !important; */
}
.tag-rejected {
	display: flex;
	justify-content: center;
	padding: 0.3em 0.5em !important;
	font-size: 14px !important;
	min-width: 2em !important;
	border-radius: 0.5em !important;
	background: var(--site-danger) !important;
	/* color: var(--site-danger) !important; */
}

.fs-16 {
	font-size: 16px !important;
}
.fs-14 {
	font-size: 14px !important;
}

.fs-12 {
	font-size: 12px !important;
	font-weight: bolder !important;
}

.fs-10 {
	font-size: 10px !important;
}

.txt-small {
	font-size: 14px;
	color: var(--lightgrey);
}

.muted-font {
	color: var(--lightgrey);
}

.round {
	border-radius: 0.3rem !important;
}

.site-dot {
	color: var(--site-primary) !important;
	font-size: 26px !important;
}

.loginWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./images/bg_login.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
	width: 100vw;
	height: 100vh !important;
}

.card-modal {
	min-width: 40% !important;
	padding: 2rem !important;
	z-index: 2;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100% !important;
}

@media (min-width: 100px) and (max-width: 767px) {
	.hide {
		display: none !important
		;
	}

	strong {
		font-size: 14px;
	}

	.card-modal {
		width: 100vw;
		height: 100vh;
		padding: 0.5rem !important;
	}

	.btn-xlg {
		font-size: 14px;
		padding: 0.5em;
	}
}
