.site-blue {
	background-color: #00b0f0;
}

.btn-xlg {
	height: 4em;
	border-radius: 0.5rem;
	font-size: 18px;
	border: none;
	padding: 1em;
	width: 15em;
}

.btn-xlg:focus {
	outline: none;
	border: none;
}

.tags {
	padding: 0.5em;
	font-size: 18px;
	min-width: 2em;
	border-radius: 0.5em;
}
