:root {
	--site-blue: #00b0f0;
}

.site-blue {
	background-color: var(--site-blue);
}
.btn-xlg {
	height: 4em;
	border-radius: 0.5rem;
	font-size: 18px;
	border: none;
	padding: 1em;
	min-width: 15rem;
	background-color: var(--site-blue);
}

.btn-xlg:focus {
	outline: none;
	border: none;
}

.tags {
	padding: 0.5em;
	font-size: 18px;
	min-width: 2em;
	border-radius: 0.5em;
}
